#footer
   #{link_to "Kunal Infotech Pvt Ltd", "http://www.kunalinfotech.net", :"data-popup" => true }
   
  \|
  = image_tag "iconset_attribution.png"
  

  - unless tabless_layout?
    \|
    = link_to(t(:about_ffc), "#", :title => t(:about_ffc), :onclick => "Modalbox.show($('about'), { title: this.title }); return false;")
%br
= render "layouts/about"
